@font-face {
  font-family: 'Proxima Nova Regular';
  src: url('../assets/fonts/ProximaNova-Regular.woff2') format('woff2'),
    url('../assets/fonts/ProximaNova-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova Bold';
  src: url('../assets/fonts/ProximaNova-Bold.woff2') format('woff2'),
    url('../assets/fonts/ProximaNova-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova Extrabld';
  src: url('../assets/fonts/ProximaNova-Extrabld.woff2') format('woff2'),
    url('../assets/fonts/ProximaNova-Extrabld.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova Black';
  src: url('../assets/fonts/ProximaNova-Black.woff2') format('woff2'),
    url('../assets/fonts/ProximaNova-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --border-color: #888888;
  --ui-color: #F47220;
  --text-color1: #fcef42e5;
  --text-color2: #444444;
  --footer-background: #1e90b652;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 1rem;
}

body {
  margin: 0 0;
  background: white;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

svg {
  max-width: 100%;
  height: auto;
}

.h1 {
  font-family: 'Proxima Nova Extrabld';
  font-weight: 600;
  font-style: normal;
  font-size: 4rem;
  letter-spacing: 5px;
}

.h2 {
  font-family: 'Proxima Nova Bold';
  font-weight: 500;
  font-style: normal;
  font-size: 3.5rem;
  letter-spacing: 2px;
}

.h3 {
  font-family: 'Proxima Nova Bold';
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
}

.subtitle {
  font-family: 'Proxima Nova Regular';
  font-weight: 400;
  font-style: normal;
  font-size: 1.25rem;
}

.body1 {
  font-family: 'Proxima Nova Regular';
  font-weight: 400;
  font-style: normal;
  font-size: 1.45rem;
}

.body2 {
  font-family: 'Proxima Nova Regular';
  font-weight: 400;
  font-style: normal;
  font-size: 1.25rem;
}

.body3 {
  font-family: 'Proxima Nova Regular';
  font-weight: 400;
  font-style: normal;
  font-size: 0.75rem;
}

.button {
  cursor: pointer;
  border-radius: 20px;
  border: 1px solid var(--ui-color);
  box-shadow: 3px 3px 5px rgba(244, 114, 32, 0.4);
  background-color: var(--ui-color);
  transition: background-color ease-in-out .5s;
}

.button:hover {
  background-color: transparent;
}

.header__menu-adaptive {
  display: none;
}

.button:active {
  box-shadow: none;
  text-shadow: 3px 3px 5px var(--text-color2);
  background-color: transparent;
  transition: 0s;
}

.active-page {
  border-bottom: 1px solid var(--text-color2);
  transform: scale(1.2);
}

.hover-link {
  transition: ease-in-out .25s;
}

.hover-link:hover {
  transform: scale(1.1);
  color: var(--ui-color);
}

.container {
  position: relative;
  max-width: 1520px;
  width: 100%;
  margin: 0 auto;
  padding: 0 0;
}

.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  margin: 0 40px;
  border-bottom: 1px solid black;
}

.mobile-menu {
  display: none;
}

.header__logo {
  display: flex;
}

.logo {
  display: flex;
  align-items: center;
  max-width: 255px;
}

.logo svg {
  color: var(--ui-color);
  border: 1px solid #4444440a;
  border-radius: 50%;
  background: #f3f0f03f;
  margin-right: 10px;

}

.logo__link {
  font-family: 'Proxima Nova Extrabld';
  font-weight: 600;
  font-style: normal;
  font-size: 3rem;
  letter-spacing: 5px;
  color: black;
}

.header__menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__items {
  list-style-type: none;
  display: flex;
}

.menu__item {
  display: flex;
  margin-right: 70px;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  color: #000000;

}

.header__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 40px;
  color: black;
}

.slider {
  max-width: 1520px;
  width: 100%;
  filter: drop-shadow(5px 15px 15px rgba(11, 24, 97, 0.32));
}

.slider .slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider .slick-dots li {
  list-style: none;
}

.slider .slick-dots button::before {
  font-family: '';
  font-size: 0;
  width: 20px;
  height: 10px;
  opacity: .4;
  background: #444;
  border-radius: 10px;
  transform: translateY(-300%);
}

.slider .slick-dots button::before .slick-active {
  opacity: .8;
}

.slide {
  position: relative;
}

.slide img {
  border-radius: 20px;
}

.slide h1 {
  position: absolute;
  top: 0;
}

.slider__h1,
.slider__link {
  padding-left: 220px;
  padding-top: 150px;
  color: var(--text-color1);
  text-shadow: 10px 10px 30px rgb(32, 31, 31);
}

.slider h2 {
  position: absolute;
  top: 0;
}

.about-us__head {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-us__flex {
  display: flex;
  justify-content: flex-end;
}

.about-us__grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.about-us__img img {
  border-radius: 20px;
  box-shadow: 5px 5px 30px rgba(11, 24, 97, 0.32);
  height: 700px;
}

.about-us__txt {
  display: flex;
  justify-content: flex-start;
}

.about-us__link {
  max-width: 500px;
}

.our-services {
  display: flex;
  justify-content: center;
}

.service__link {
  color: var(--ui-color);
  margin-left: 15px;
}

.what-we-do__flex {
  display: flex;
  justify-content: center;
}

.what-we-do__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
}

.do-list-left,
.do-list-center,
.do-list-right {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 600px;
  margin: 0;
  border-radius: 5px;
  box-shadow: 5px 5px 30px rgba(11, 24, 97, 0.32);
}

.do-list-left {
  border-top-left-radius: 20px;

}

.do-list-right {
  border-top-right-radius: 20px;

}

.do-list__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  margin-top: 20px;
  outline: 3px solid var(--ui-color);
  outline-offset: 3px;
  border-radius: 50%;
  background-color: white;
  transform: translateX(200%);
}

.do-list__head {
  display: flex;
  justify-content: center;
  align-items: center;
}

.do-list-left .do-list__head,
.do-list-right .do-list__head {
  margin-bottom: 69px;
}

.do-list__link {
  margin-left: 25px;
  margin-top: 30px;
}

.do-list__btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 200px;
  width: 100%;
  height: 50px;
  bottom: 20px;
  margin-left: 6.5%;
  color: #000000;
}

.we-bring-light__flex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.we-bring-light__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.slogan {
  margin-left: 20px;
}

.start-now {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.start-now__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  width: 100%;
  height: 75px;
  color: black;
}

.footer {
  background: var(--footer-background);
}

.footer__row {
  display: flex;
  justify-content: space-between;
  height: 100px;
  margin: 0 20px 0 60px;
  margin-top: 30px;
}

.watermark {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: .7;
  color: var(--text-color2);
  margin: 0;
}

.connect-with-us {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.connect-with-us__link {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  color: var(--text-color2);
  opacity: .7;
  margin: 0;
}

.phone-number {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color2);
  opacity: .7;
  transition: all ease-in-out .25s;
}

.phone-number:hover {
  color: black;
  transform: scale(1.05);
}

.alarm-nubmer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.our-email {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.e-mail {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color2);
  opacity: .7;
  transition: all ease-in-out .25s;
}

.e-mail:hover {
  color: black;
  transform: scale(1.05);
}

.footer__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* /main page */

.our-services__flex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.our-services__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 60px;
}

.our-services__card {
  display: flex;
  flex-direction: column;
  width: 520px;
  height: 500px;
  margin: 0;
  border-radius: 10px;
  box-shadow: 5px 5px 30px rgba(11, 24, 97, 0.32);
}

.about-us__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  margin-top: 20px;
  outline: 3px solid var(--ui-color);
  outline-offset: 3px;
  border-radius: 50%;
  background-color: white;
  transform: translateX(265%);
}

.our-services__link {
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 0;
}

.our-services h1 {
  margin-bottom: 0;
}

/* /our-services */

.technical-condition__info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  color: var(--ui-color);
}

.technical-condition__cardinfo {
  display: flex;
  flex-direction: column;
  height: 380px;
  border-radius: 10px;
  box-shadow: 5px 5px 30px rgba(11, 24, 97, 0.32);
}

.technical-condition__link {
  margin-left: 15px;
  margin-bottom: 0;
}

.technical-condition__flex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.technical-condition__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 80px;
}

.technical-condition__card {
  display: flex;
  flex-direction: column;
  width: 715x;
  height: 630px;
  margin: 0;
  border-radius: 10px;
  box-shadow: 5px 5px 30px rgba(11, 24, 97, 0.32);
}

.technical-condition__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  margin-top: 20px;
  outline: 3px solid var(--ui-color);
  outline-offset: 7px;
  border-radius: 50%;
  background-color: white;
  transform: translateX(400%);
}

/* /technical-condition */

.CIW__cards_flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 40px;
  height: 480px;
  border-radius: 10px;
  box-shadow: 5px 5px 30px rgba(11, 24, 97, 0.32);
}

.CIW__cards_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

}

.CIW__img {
  width: 700px;
}

.CIW__img img {
  border-radius: 20px;
  box-shadow: 5px 5px 30px rgba(11, 24, 97, 0.32);
}

.CIW__card_items {}

.card__head {
  margin-top: 20px;
  margin-bottom: 0;
}

/* /CIW */

.modal-window {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
}

.modal-window_active {
  opacity: 1;
  pointer-events: auto;
}

.window__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .5;
}

.window__content {
  position: relative;
  width: 500px;
  height: 600px;
  border-radius: 20px;
  padding: 30px 20px;
  background-color: white;
}

.window__close {
  position: absolute;
  bottom: 100%;
  left: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  padding: 0;
  border: 0;
  outline: 0;
  background-color: transparent;
  cursor: pointer;
}

.window__close span {
  position: relative;
  display: block;
  width: 30px;
  height: 1px;
}

.window__close span::before,
.window__close span::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  content: '';
  transform-origin: center center;
}

.window__close span::before {
  transform: rotate(45deg);
}

.window__close span::after {
  transform: rotate(-45deg);
}

.window__close:hover span::before,
.window__close:hover span::after {
  background-color: var(--ui-color);
}

.window__head {
  text-align: center;
  margin: 10px;
  color: var(--ui-color);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__group {
  width: 100%;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  border: 0;
}

.form__group:last-child {
  margin-bottom: 0;
}

.message {
  height: 200px;
  resize: none;
}

.form__input {
  width: 100%;
  padding: 8px 10px;
  font-size: 0.875rem;
  line-height: 120%;
  color: black;
  border: 1px solid var(--border-color);
  border-radius: 10px;
}

.form__input::placeholder {
  color: var(--border-color);
}

.form__submit {
  max-width: 200px;
  width: 100%;
  height: 50px;
}

.form__caption {
  color: var(--border-color);
  opacity: .7;
}

/* /modal-window */

@media (max-width:1600px) {
  .container {
    max-width: 1440px;
    width: 100%;
  }

  .h1 {
    font-size: 3.79rem;
  }

  .h2 {
    font-size: 3.31rem;
  }

  .h3 {
    font-size: 1.9rem;
  }

  .subtitle {
    font-size: 1.18rem;
  }

  .body1 {
    font-size: 1.37rem;
  }

  .body2 {
    font-size: 1.18rem;
  }

  .body3 {
    font-size: 0.71rem;
  }

  .menu__item {
    margin-right: 60px;
  }

  .slider__link,
  .slider__h1 {
    padding-left: 205px;
    padding-top: 140px;
  }

  .about-us__img img {
    height: 630px;
  }

  .what-we-do__grid {
    gap: 60px;
  }
}

/* our-services-adaptive */

@media (max-width:1180px) {
  .header__menu {
    display: none;
  }

  .header__menu-adaptive {
    display: flex;
    justify-content: center;
  }
}

@media (max-width:1140px) {
  .our-services__grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}

@media (max-width:1095px) {
  .footer__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 50px;
    row-gap: 20px;
    flex-wrap: wrap;
    padding-top: 10px;
    height: 180px;
    margin-left: 20px;
  }
}

@media (max-width:666px) {
  .menu__item {
    margin-right: 40px;
  }

  .footer__row {
    height: 273px;
  }
}

@media (max-width:630px) {
  .mobile-menu {
    display: block;
  }

  .header__menu-adaptive {
    display: none;
  }

  .logo__link {
    display: none;
  }
}

@media (max-width:566px) {
  .footer__row {
    height: 370px;
  }
}
